<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
    <div class="hero-inner">
        <h2 class="visibility-hidden">{{ t 'search' }}</h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
             class="search-icon" aria-hidden="true">
            <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
            <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
        </svg>
        {{search submit=false instant=settings.instant_search class='search search-full'}}
    </div>
</section>

<div class="container">
    <section class="section knowledge-base">
        <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
        <section class="categories blocks">
            <ul class="blocks-list">
                {{#each categories}}
                    {{#if ../has_multiple_categories}}
                        <li class="blocks-item {{#is id 360004863591}}active{{/is}}">
                            <a href='#' onclick="showSection({{id}})" id="btn-{{id}}" class="blocks-item-link skimplan-button-base skimplan-button-base-root">
                                <span class="blocks-item-title">{{name}}</span>
                            </a>
<!--                                <span class="blocks-item-description">{{excerpt description}}</span>-->
                        </li>
                    {{else}}
                        {{#each sections}}
                            <li class="blocks-item">
                                <a href='{{url}}' class="blocks-item-link">
                  <span class="blocks-item-title">
                      {{name}}
                  </span>
                                    <span class="blocks-item-description">{{excerpt description}}</span>
                                </a>
                            </li>
                        {{/each}}
                    {{/if}}
                {{/each}}
            </ul>
            {{pagination}}
        </section>

        <section class="articles">
            {{#each categories}}
                <div id="category-{{id}}" class="category-div {{#isnt id 360004863591}}hidden{{/isnt}}">

                    {{#each sections}}
                        <section class="section section-card">
                            <h2 class="section-tree-title">
                                <a href="{{url}}">{{name}}</a>
                            </h2>
                            {{#if articles}}
                                <ul class="article-list">
                                    {{#each articles}}
                                        <li class="article-list-item{{#if promoted}} article-promoted{{/if}}">
                                            {{#if promoted}}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                     focusable="false" viewBox="0 0 12 12" class="icon-star"
                                                     title="{{t 'promoted'}}">
                                                    <path fill="currentColor"
                                                          d="M2.88 11.73c-.19 0-.39-.06-.55-.18a.938.938 0 01-.37-1.01l.8-3L.35 5.57a.938.938 0 01-.3-1.03c.12-.37.45-.63.85-.65L4 3.73 5.12.83c.14-.37.49-.61.88-.61s.74.24.88.6L8 3.73l3.11.17a.946.946 0 01.55 1.68L9.24 7.53l.8 3a.95.95 0 01-1.43 1.04L6 9.88l-2.61 1.69c-.16.1-.34.16-.51.16z"/>
                                                </svg>
                                            {{/if}}
                                            <a href="{{url}}" class="article-list-link">{{title}}</a>
                                            {{#if internal}}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     focusable="false" viewBox="0 0 16 16" class="icon-lock"
                                                     title="{{t 'internal'}}">
                                                    <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1"
                                                          ry="1"/>
                                                    <path fill="none" stroke="currentColor"
                                                          d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                                                </svg>
                                            {{/if}}
                                        </li>
                                    {{/each}}
                                </ul>
                                {{#if more_articles}}
                                    <a href="{{url}}" class="see-all-articles">
                                        {{t 'show_all_articles' count=article_count}}
                                    </a>
                                {{/if}}
                            {{/if}}
                        </section>
                    {{/each}}
                </div>
            {{/each}}
        </section>

        {{#if promoted_articles}}
            <section class="articles">
                <h2>{{t 'promoted_articles'}}</h2>
                <ul class="article-list promoted-articles">
                    {{#each promoted_articles}}
                        <li class="promoted-articles-item">
                            <a href="{{url}}">
                                {{title}}

                                {{#if internal}}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false"
                                         viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                                        <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                                        <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                                    </svg>
                                {{/if}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </section>
        {{/if}}
    </section>

    {{#if help_center.community_enabled}}
        <section class="section home-section community">
            <h2>{{t 'community'}}</h2>
            {{#link 'community' class='community-link'}}
                {{t 'join_conversation'}}
            {{/link}}

            <div class="community-image"></div>
        </section>
    {{/if}}

    {{#if settings.show_recent_activity}}
        <section class="section home-section activity">
            {{recent_activity}}
        </section>
    {{/if}}
</div>

<script>
    const buttonActiveClass = "active";
    const buttonContainerClass = "blocks-item";
    const hideCategoryDivClass = "hidden";
    const categoryDivClass = "category-div";

    const showSection = (id) => {
        removeActiveClassFromAllButtons();
        addHiddenClassToAllCategoryDivs();

        const button = document.getElementById(`btn-${id}`);
        const categoryDiv = document.getElementById(`category-${id}`);
        const li = button.parentElement;

        toggleClass(li, buttonActiveClass);
        toggleClass(categoryDiv, hideCategoryDivClass);
    }

    const removeActiveClassFromAllButtons = () => {
        const blocksItems = document.getElementsByClassName(buttonContainerClass);
        Array.prototype.forEach.call(blocksItems, (element) => removeClass(element, buttonActiveClass))
    }

    const addHiddenClassToAllCategoryDivs = () => {
        const categoryDivs = document.getElementsByClassName(categoryDivClass);
        Array.prototype.forEach.call(categoryDivs, (element) => addClass(element, hideCategoryDivClass));
    }

    const toggleClass = (element, className) => {
        const classArr = element.className.split(" ");
        if (classArr.includes(className)) {
            removeClass(element, className);
        } else {
            addClass(element, className);
        }
    }

    const removeClass = (element, className) => {
        const classArr = getClassArr(element);
        element.className = classArr.filter(cl => cl !== className).join(" ");
    }

    const addClass = (element, className) => {
        const classArr = getClassArr(element);
        if (!classArr.includes(className)) {
            classArr.push(className);
        }
        element.className = classArr.join(" ");
    }

    const getClassArr = (element) => {
        return element.className.split(" ");
    }
</script>